<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <title>Details of User Below </title>

</head>

<body>
    <main>
        <h1>Details of User Below</h1>

        <h2>{{firstName}} {{lastName}}</h2>

            <dt>Username: </dt>
            <dd>{{username}}</dd>
            <dt>Profession: </dt>
            <dd>{{profession}}</dd>
            <dt>Bio: </dt>
            <dd>{{bio}}</dd>

        </dl> 
    </main>

    <a href="/logout">Logout</a>

</body>
</html>